.btn {
    width: 14.4vmin;
    padding: 8px 8px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #dee2e6;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn:hover {
background-color: #54b3d6;
box-shadow: 0px 15px 20px #54b3d6;
color: #dee2e6;
transform: translateY(-7px);
}

.btn:active {
transform: translateY(-1px);
}