/*body {
    color: #DEE2E6;
    overflow-x: hidden;
    overflow-y: hidden;
} */

.register-form{
    margin-top: 10px;
}

.content > * {
    position: relative;
    background-color: #6C757C;
    width: 400px;
    /*height: 400px;*/
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.container-background {
    margin: 3rem;
    position: absolute;
    display:inline-block; 

    top: -1000px;
    left: -350px;
    bottom: -200px;
    z-index: -1;
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
    color: #c6afaf;
    font-size: 200px;
    opacity: 40%;
}

.background-text{
    white-space:nowrap;
    margin: 0;
    overflow: hidden;
}

.register-label{
    color: #DEE2E6;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.un {
    width: 56%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: #DEE2E6;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 30px;
    margin-bottom: 27px;
}

.pass {
    width: 56%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: #DEE2E6;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-bottom: 27px;
}

.btn {
    width: 14.4vmin;
    padding: 8px 8px;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: rgb(38, 50, 56);
    background-color: #dee2e6;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn:hover {
background-color: #54b3d6;
box-shadow: 0px 15px 20px #54b3d6;
color: #dee2e6;
transform: translateY(-7px);
}

.btn:active {
transform: translateY(-1px);
}

.login-stuff{
    color: #DEE2E6;
    padding-bottom: 12px;
}

.login-label {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.login-label:hover {
    cursor: pointer;
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
}